@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

:root {
  --style-color: #3171d6;
  --bg-color: rgb(15, 15, 15);
  --line-color: rgb(201, 130, 0);
  --player-color: rgb(229, 123, 255);
} 

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg-color);
  color: white;
  font-family: "Roboto", sans-serif;
  display: flex;
  justify-content: center;
}

.board {
  border: 1rem solid var(--line-color);
  border-radius: 1rem;
  background: var(--line-color);
  width: 500px;
  height: 500px;
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  gap: 1rem;
}

/* .squares {
  border: none;
  font-size: 5rem;
} */

.squares {
  background: var(--bg-color);
  color: var(--player-color);
  border: none;
  border-radius: 0.5rem;
  font-size: 5rem;
  cursor: pointer;
  outline: none;
}
@keyframes fadeInOpacity { 
  0% { opacity: 0; } 
  100% { opacity: 1; } 
} 

.X{
  background: var(--bg-color);
  color: var(--player-color);
  border: none;
  border-radius: 0.5rem;
  font-size: 5rem;
  cursor: pointer;
  outline: none;
  opacity: 1; animation-name: fadeInOpacity; animation-iteration-count: 1; animation-timing-function: ease-in; animation-duration: 0.5s;
}

.O{
  background: var(--bg-color);
  color: var(--player-color);
  border: none;
  border-radius: 0.5rem;
  font-size: 5rem;
  cursor: pointer;
  outline: none;
  opacity: 1; animation-name: fadeInOpacity; animation-iteration-count: 1; animation-timing-function: ease-in; animation-duration: 0.5s;
}

.title {
  display: flex;
  justify-content: center;
  margin-block: 1rem;
  color: white;
}

.info-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-block: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.button {
  border: 0.75rem solid var(--line-color);
  border-radius: 1rem;
  background: var(--line-color);
  color: white; 
  font-weight: bold;
  font-size: 1rem;
}

.info-wrapper button:hover{
  border: 0.75rem solid orange;
  background-color: orange;
}

.squares:hover{
  border: 0.5rem solid var(--player-color);
}